<form class="ui stacked segment form" action="/guitar/{{id}}/addguitar" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" autofocus required title = "Please include a valid Title"
	  placeholder="Title">
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" name="description" required title = "Please include a valid Description"
	  placeholder="Description"  >
    </div>
  </div>
  <button class="ui blue submit button">Add Guitar</button>
</form>
