{{#if singleGuitar.guitars.length}}

  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th>Series Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each singleGuitar.guitars}}
        <tr>
          <td>
            {{title}}
          </td>
          <td>
            {{description}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty guitar!
    </h3>

{{/if}}
