
<section class="ui left aligned middle aligned segment">

  {{> dashboardHeader }}

  {{#unless search}}
    {{#unless guitars}}
    <h3 class="ui message">
      Start adding your guitar collections!
    </h3>
    {{/unless}}
  {{/unless}}

  <div class="ui centered cards">
    
    {{#each guitars}}
      {{> guitarlistCard}}
    {{/each}}
    
  </div>

</section>
