{{> menu}}
<!-- Guitar details page -->
<section class="ui center aligned middle aligned scrolling segment">
  <h2 class="ui header">
    {{singleGuitar.title}}
  </h2>
  <!-- Include guitar list partial -->
  {{> listguitars}}
</section>
