{{> menu}}
<!-- Guitar details page -->
{{#with singleGuitar}}
  <section class="ui center aligned middle aligned segment">
    <h2 class="ui header">
      {{uppercase series}}
    </h2>
    <p>
      {{description}}
    </p>

     {{> listguitars}}
  </section>

  <section class="ui center aligned middle aligned segment">

    {{> addguitar}}
  </section>
{{/with}}

