{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>Ibanez Guitar Collection</h2>
    <p>
      This app will act as a catalog for different ibanez guitars over the years.
    </p>

    <img src = "/ibanezlogo.png" class = "ui centered image">

      <div class="ui four statistics" style="margin-top: 1em;">
    
  {{#with info}}
     
    <div class="statistic">
      <div class="value">
        <i class="music icon"></i> 
      </div>
      <div class="label">
        App Title: <br>
        {{appTitle}}
      </div>
    </div>
    
    <div class="statistic">
      <div class="value">
        <i class="code branch icon"></i> 
      </div>
      <div class="label">
        App Version: <br>
        Version {{version}}
      </div>
    </div> 
     
    <div class="statistic">
      <div class="value">
        <i class="map pin icon"></i> 
      </div>
      <div class="label">
        Made in: <br>
        {{location}}
      </div>
    </div> 
	
    <div class="statistic">
      <div class="value">
        <i class="user icon"></i> 
      </div>
      <div class="label">
        Created by: <br>
        {{creators.0.name}}
      </div>
    </div>
	
	
  {{/with}}
  
</div>

</section>
