{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>Itan's Ibanez Guitar Collection</h2>
    <p>
      This app will act as a catalog for different ibanez guitars over the years.
    </p>

    <img src = "/ibanezlogo.png" class = "ui centered image">

     

</section>
