{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2>Itan's Ibanez Guitar Collection</h2>

   <img src = "/ibanezlogo.png" class = "ui centered image">
   
    <p>
      This app will act as a catalog for different ibanez guitars over the years.
    </p>
    <p>
      You can click on the Dashboard to view different Ibanez Guitar Collections, or click on the About page to learn more about the company.
    </p>

    
</section>
